<template>
  <div id="app">
    <vue-tabs>
      <v-tab title="Studia a praca - Ankieta">
        <component :is="firstTabComponent" size="huge" lineFgColor="#1AB394" :survey="survey"></component>
      </v-tab>

      <v-tab title="O ankiecie">
        <div class="content-container">
          <h2>Cel ankiety</h2>
          <p>Ankieta "Studia a praca" została stworzona w celu zbadanie zależności pomiędzy studiowanym kierunkiem, a wykonywaną pracą.</p>
          <h2>Autorzy</h2>
          <p>Ankieta została zaprojektowana przez studentów kierunku
            Inżynierii Biomedycznej na Akademii Górniczo-Hutniczej im. Stanisława Staszica w Krakowie.
            Projekt zrealizowano w ramach zajęć "Projektowanie aplikacji webowych" i "Metody i narzędzia badawcze w naukach społecznych".</p>
        </div>
      </v-tab>
    </vue-tabs>
  </div>
</template>

<script>
  import './style.scss';
  import 'survey-vue/survey.css';
  import 'vue-nav-tabs/themes/paper.css';

  import {VueTabs, VTab} from 'vue-nav-tabs';
  import VueSimpleSpinner from 'vue-simple-spinner'
  import * as SurveyVue from 'survey-vue';
  import SurveyEndpoint from './SurveyEndpoint';

  const Survey = SurveyVue.Survey;
  Survey.cssType = "default";
  const endpoint = new SurveyEndpoint({url: 'http://studiaapraca.pl/api'});

  export default {
    name: "app",
    components: {
      VueSimpleSpinner,
      Survey,
      VueTabs,
      VTab
    },
    data() {
      return {
        survey: new SurveyVue.Model({}),
        firstTabComponent: 'vue-simple-spinner'
      };
    },
    async created() {
      const survey = new SurveyVue.Model(await endpoint.getSurveyModel());

      survey
        .onComplete
        .add(async function (result) {
          try {
            const response = await endpoint.addNewSurvey(result.data);

            if (!response || !response.success) {
              alert('Wystąpił bład i ankieta nie mogła zostać zapisana :(');
            }
          } catch (e) {
            alert('Wystąpił bład i ankieta nie mogła zostać zapisana :(');
          }
        });

      survey.locale = 'pl';

      this.survey = survey;
      this.firstTabComponent = 'survey';
    }
  }
</script>

<style scoped>

</style>
