body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #6d7072;
  font-size: 14px;
}

p:first-child, h2:first-child {
  margin-top: 0;
}

.vue-tabs {
  .nav-tabs {
    font-size: 16px !important;
  }
  .nav-tabs-navigation {
    margin-bottom: 0 !important;
  }
  .nav > li > a {
    padding: 20px !important;
  }
}

.tab-container {
  padding: 20px;

  .sv_main {
    font-family: "Open Sans", sans-serif;

    .sv_container .sv_body {
      border-top: none;
      padding: 0;
    }
  }
}

.content-container {
  max-width: 700px;
}
